:root {
    --black-12: #121212;
    --black-18: #181818;
    --black-21: #212121;
    --black-32: #323232;
    --black-38: #383838;
    --black-47: #474747;
    --white: #fff;
    --gray: #aaa;
    --blue: #3DA6FF;
}
